<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar" th:fragment="navbar" th:with="
    																		home=${home}?:'',
    																		about=${about}?:'',
    																		contact=${contact}?:'',
    																		menu=${menu}?:'',
    																		reservation=${reservation}?:'',
    																		service=${service}?:'',
    																		testimonial=${testimonial}?:'',
    																		">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">KOPPEE</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto p-4">
                    <a th:href="@{/home}" th:class="'nav-item nav-link '+ ${home}">Home</a>
                    <a th:href="@{/about}" th:class="'nav-item nav-link '+ ${about}">About</a>
                    <a th:href="@{/service}" th:class="'nav-item nav-link '+ ${service}">Service</a>
                    <a th:href="@{/menu}" th:class="'nav-item nav-link ' +${menu}">Menu</a>
                    <div class="nav-item dropdown">
                        <a href="#" th:class="'nav-link dropdown-toggle ' +${reservation} +${testimonial}" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu text-capitalize">
                            <a th:href="@{/reservation}" th:class="'dropdown-item ' +${reservation}">Reservation</a>
                            <a th:href="@{/testimonial}" th:class="'dropdown-item ' +${testimonial}">Testimonial</a>
                        </div>
                    </div>
                    <a th:href="@{/contact}" th:class="'nav-item nav-link ' +${contact}">Contact</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
</body>
</html>